.Header {
  align-items: center;
  grid-area: head;
  margin: 5px 15px;
}
.header-content{
  display: flex;
  align-items: center;
  margin: 0 20px;

}
.VW{
  position: absolute;
  top: 45px;
  left: 0;
  width: 1878.002px;
}